* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: black;
	background-image: url("https://i.pinimg.com/564x/79/fa/ae/79faae394ce6248e574bb137cb62180f.jpg");
}

div {
	margin: 250px auto;
	background: rgba(0, 0, 0, 0.4);
}

div > p {
	color: white;
	font-style: italic;
	font-size: 16px;
	line-height: 30px;
}

div > h4 {
	letter-spacing: 5px;
	padding-bottom: 25px;
	text-align: left;
	color: red;
}